@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black
}

body {
  @apply h-full bg-black
}
@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }
}

@layer utilities {
  .logOutPanel::after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: calc(50% - 10px);
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }.logOutPanelW::after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: calc(50% - 10px);
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

.shadowed {
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(131, 131, 131, 0.8));
}

.shadowBlue:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(14, 165, 233, 0.8));
}
.shadowYellow:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(234, 179, 8, 0.8));
  
}
.shadowPink:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(236, 72, 153, 0.8));
  
}
.shadowPurple:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(139, 92, 246, 0.8));
}
.shadowOrange:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(249, 115, 22, 0.8));
}
.shadowGreen:hover{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(34, 197, 94, 0.8));
}



.mode-Default{
  background-color: white;
  color:black;
}
.mode-Dim{
  background-color: rgb(21, 32, 43);
  color:white;
}
.mode-Dark{
  background-color: black;
  color:white;
}